body{
  margin: 0;
  min-width: 1024px;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #37474f;
  background-color: #eceff1;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header, 
.page-footer {
  padding: 16px 0;
  background-color: #263238;
  box-shadow: 0 0 10px;
}

.page-header .container,
.page-footer .container {
  max-width: 1200px;
  text-align: right;
}

.page-header li, 
.page-footer li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.page-header {
  margin-bottom: 50px;
}

.page-footer {
  margin-top: 50px;
}

.contacts a {
  display: inline-block;
  background: url('img/cv_contact-icons.svg') no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  font-size: 0;
}

.contacts a:hover {
  filter: drop-shadow(0 0 3px #b0bec5);
}

.contacts a:active {
  filter: opacity(0.75);
}

a.mail {
  background-position-x: 0;
}

a.gh {
  background-position-x: -70px;
}

a.ds {
  background-position-x: -140px;
}

section {
  border-bottom: 2px solid #90a4ae;
}
  
.person-image {
  display: flex;
  align-items: flex-end;
}

.heading {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  text-transform: capitalize;
}

.person-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 50px;
  margin-bottom: 20px;
  filter: drop-shadow(3px 3px 5px #263238);
}

.subheading {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;
}



/* Code style */ 
.code {
  font-family: "Menlo", monospace;
  padding: 10px 0;
  width: 800px;
  margin: 10px auto;
  background-color: #f6f8ff;
  box-shadow: 0 0 5px inset #595979;
  color: #000020;
}

.code .comment {
  color: #595979;
}

.code .keyword {
  color: #200080;
  font-weight: bold;
}

.code .symb {
  color: #308080;
}






